{% extends 'master.html' %}
{% load static %}
{% block title %}
      اعدادت الحساب
{% endblock  %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock  %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4"> حسابي /<span class="text-muted fw-light">  اعدادات الحساب </span></h4>
  <div class="row">
    <!-- User Content التفاصيل الخاصة يالمستخدم -->
    <div class="col-xl-12 col-lg-12 col-md-12 order-0 order-md-1">
      <!-- User Tabs أزرار التنقل بين النوافذ مع محتويات كل نافذة  -->
      <div class="nav-align-top mb-4">
        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
          <li class="nav-item">
            <button
              type="button"
              class="nav-link active"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-pills-justified-profile"
              aria-controls="navs-pills-justified-profile"
              aria-selected="false">
              <i class="tf-icons ti ti-user ti-xs me-1"></i> التفاصيل الشخصية
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link "
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-pills-justified-home"
              aria-controls="navs-pills-justified-home"
              aria-selected="true">
              <i class="tf-icons ti ti-home ti-xs me-1"></i> الأمان
              <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger ms-1">3</span>
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-pills-justified-messages"
              aria-controls="navs-pills-justified-messages"
              aria-selected="false">
              <i class="tf-icons ti ti-message-dots ti-xs me-1"></i> Messages
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="navs-pills-justified-profile" role="tabpanel">
            <div class="card mb-4" style=" box-shadow: none;">
              <!-- Account -->
              <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                  <img
                    src="../../assets/img/avatars/14.png"
                    alt="user-avatar"
                    class="d-block w-px-100 h-px-100 rounded"
                    id="uploadedAvatar" />
                  <div class="button-wrapper">
                    <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                      <span class="d-none d-sm-block">تحميل صورة جديدة</span>
                      <i class="ti ti-upload d-block d-sm-none"></i>
                      <input
                        type="file"
                        id="upload"
                        class="account-file-input"
                        hidden
                        accept="image/png, image/jpeg"
                        onchange="updateAvatarPreview(event)" />
                    </label>
                    <button type="button" class="btn btn-label-secondary account-image-reset mb-3" onclick="resetAvatar()">
                      <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                      <span class="d-none d-sm-block">إعادة ضبط</span>
                    </button>
                
                    <div class="text-muted">Allowed JPG, GIF or PNG. Max size of 800K</div>
                  </div>
                </div>
                
              </div>
              <hr class="my-0" />
              <div class="card-body">
                <form id="formAccountSettings">
                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="first-name" class="form-label">الاسم الاول </label>
                      <input
                        class="form-control"
                        type="text"
                        id="first-name"
                        name="first-name"
                        autofocus />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="last-name" class="form-label">الاسم الاخير</label>
                      <input class="form-control" type="text" name="last-name" id="last-name"  />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="email" class="form-label">البريد الالكتروني</label>
                      <input
                        readonly
                        class="form-control"
                        type="text"
                        id="email"
                        name="email"
                        value="john.doe@example.com"
                        placeholder="john.doe@example.com" />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label class="form-label" for="phone-number">رقم الهاتف</label>
                      <div class="input-group">
                        <input
                          type="text"
                          id="phone-number"
                          name="phone-number"
                          class="form-control phone-number-mask"
                          placeholder="202 555 0111" />
                      </div>
                    </div>
                    <div class="mb-3 col-md-6">
                      <label class="form-label" for="gender">الجنس</label>
                      <select
                        id="gender"
                        name="gender"
                        class="select2 form-select"
                        aria-label="Default select example">
                        <option value="ذكر">ذكر</option>
                        <option value="أنثى">أنثى</option>
                      </select>
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="bs-datepicker-autoclose-birthdate" class="form-label">تاريخ الميلاد</label>
                      <input
                        type="date"
                        id="bs-datepicker-autoclose-birthdate"
                        placeholder="MM/DD/YYYY"
                        class="form-control" />
                    </div>                  
                  </div>
                  <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">حفظ التغييرات</button>
                    <button type="reset" class="btn btn-label-secondary">الغاء</button>
                  </div>
                </form>
              </div>
              <!-- /Account -->
            </div>
            <div class="card" style=" box-shadow: none;">
              <h5 class="card-header">Delete Account</h5>
              <div class="card-body">
                <div class="mb-3 col-12 mb-0">
                  <div class="alert alert-warning">
                    <h5 class="alert-heading mb-1">Are you sure you want to delete your account?</h5>
                    <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                  </div>
                </div>
                <form id="formAccountDeactivation" onsubmit="return false">
                  <div class="form-check mb-4">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="accountActivation"
                      id="accountActivation" />
                    <label class="form-check-label" for="accountActivation"
                      >I confirm my account deactivation</label
                    >
                  </div>
                  <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                </form>
              </div>
            </div>                
          </div>
          <div class="tab-pane fade show" id="navs-pills-justified-home" role="tabpanel">
            <!-- Change Password تغيير كلمة المرور  -->
            <div class="card mb-4 border-bottom" style=" box-shadow: none;">
              <h5 class="card-header">تغيير كلمة المرور</h5>
              <div class="card-body">
                <form id="formChangePassword" method="GET" onsubmit="return false">
                  <div class="alert alert-warning" role="alert">
                    <h5 class="alert-heading mb-2">تأكد من استيفاء هذه المتطلبات</h5>
                    <span>لا تقل عن 8 أحرف، واحتوي على حرف كبير ورمز</span>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-12 col-sm-6 form-password-toggle">
                      <label class="form-label" for="newPassword">كلمة مرور جديدة</label>
                      <div class="input-group input-group-merge">
                        <input
                          class="form-control"
                          type="password"
                          id="newPassword"
                          name="newPassword"
                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                      </div>
                    </div>                              
                    <div class="mb-3 col-12 col-sm-6 form-password-toggle">
                      <label class="form-label" for="confirmPassword">تأكيد كلمة المرور الجديدة</label>
                      <div class="input-group input-group-merge">
                        <input
                          class="form-control"
                          type="password"
                          name="confirmPassword"
                          id="confirmPassword"
                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                      </div>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-primary me-2">تغيير كلمة المرور</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--/ Change Password تغيير كلمة المرور -->                      
            <!-- Two-steps verification التحقق بخطوتين -->
            <div class="card mb-4 border-bottom" style=" box-shadow: none;">
              <h5 class="card-header pb-2">التحقق بخطوتين</h5>
              <div class="card-body">
                <span>احمِ حسابك باستخدام خطوة المصادقة.</span>
                <h6 class="mt-3 mb-2">رسالة نصية SMS</h6>
                <div class="d-flex justify-content-between border-bottom mb-3 pb-2">
                  <span>+1(968) 945-8832</span>
                  <div class="action-icons">
                    <a
                      href="javascript:;"
                      class="text-body me-1"
                      data-bs-target="#enableOTP"
                      data-bs-toggle="modal"
                      ><i class="ti ti-edit ti-sm"></i
                    ></a>
                    <a href="javascript:;" class="text-body"><i class="ti ti-trash ti-sm"></i></a>
                  </div>
                </div>
                <p class="mb-0">
                  تضيف مصادقة العاملين اثنين طبقة أمان إضافية إلى حسابك من خلال طلب المزيد من المعلومات أكثر من مجرد كلمة المرور لتسجيل الدخول.
                </p>
              </div>
            </div>
            <!--/ Two-steps verification التحقق بخطوتين -->                  
          </div>

        </div>
      </div>
      <!-- User Tabs أزرار التنقل بين النوافذ مع محتويات كل نافذة -->
    </div>
    <!--/ User Content -->
  </div>
  <!-- Modals -->
  <!-- Enable OTP Modal -->
  <div class="modal fade" id="enableOTP" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">Enable One Time Password</h3>
            <p>Verify Your Mobile Number for SMS</p>
          </div>
          <p>Enter your mobile phone number with country code and we will send you a verification code.</p>
          <form id="enableOTPForm" class="row g-3" onsubmit="return false">
            <div class="col-12">
              <label class="form-label" for="modalEnableOTPPhone">Phone Number</label>
              <div class="input-group">
                <span class="input-group-text">US (+1)</span>
                <input
                  type="text"
                  id="modalEnableOTPPhone"
                  name="modalEnableOTPPhone"
                  class="form-control phone-number-otp-mask"
                  placeholder="202 555 0111" />
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
              <button
                type="reset"
                class="btn btn-label-secondary"
                data-bs-dismiss="modal"
                aria-label="Close">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Enable OTP Modal -->
  <!-- /Modals -->
</div>
<!-- / Content -->
{% endblock  %}
{% block specialJsFiles %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<!-- Page JS -->
<script type="module" src="{% static 'js/app-my-account.js' %}"></script>

<script>
  function updateAvatarPreview(event) {
    const reader = new FileReader();
    reader.onload = function() {
      document.getElementById('uploadedAvatar').src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
  
  function resetAvatar() {
    document.getElementById('uploadedAvatar').src = '/static/img/avatars/avatar-unknown.jpg';
    document.getElementById('upload').value = ''; 
  }
</script>

<script>
(function () {
  // Alert With Functional Confirm Button الغاءالتنشيط
  const confirmText = document.querySelector('#confirm-text');
  confirmText.onclick = function () {
    Swal.fire({
      title: 'هل أنت متأكد؟',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'نعم !',
      CancelButtonText: 'الغاء',
      customClass: {
        confirmButton: 'btn btn-primary me-3 ',
        cancelButton: 'btn btn-label-secondary '
      },
      buttonsStyling: false
    }).then(function (result) {
      if (result.value) {
        Swal.fire({
          icon: 'success',
          title: 'تم الغاءالتنشيط!',
          text: 'لقد تم الغاء تنشيط الحساب بنجاح.',
          customClass: {
            confirmButton: 'btn btn-success '
          }
        });
      }
    });
  };
})();
</script>
{% endblock  %}

