{% extends 'master.html' %}
{% load static %}
{% block title %}
إدارة التقييمات
{% endblock %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-reviews.css' %}" />
{% endblock %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4">إدارة التقييمات / <span class="text-muted fw-light">قائمة التقييمات</span></h4>


  <!-- review List Table -->
  <div class="card">
    <div class="card-datatable table-responsive">

      <table class="datatables-review table border-top">
        <thead class="border-top">
          <tr>
            <th></th>
            <th>المستخدم</th>
            <th class="text-nowrap">التقييم</th>
            <th>التعليق</th>
            <th> تاريخ التعليق</th>
            <th class="text-nowrap">التاريخ</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<!-- / Content -->


<!-- Modal show comment -->
<div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalScrollableTitle"> تعليق المستخدم</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <p>
          التطبيق جيد ولكن يحتاج لبعض التحسينات في التشخيص
        </p>
        <p>
          هذا التطبيق مذهل وموثوق به بشكل كبير، يساهم في تحسين الرعاية الصحية
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
          إغلاق
        </button>

      </div>
    </div>
  </div>
</div>

<!-- End Modal show comment -->



{% endblock %}
{% block specialJsFiles %}
<!-- Vendors JS -->

<!-- Page JS -->
<script type="module" src="{% static 'js/app-reviews.js' %}"></script>
<script src="{% static 'js/extended-ui-star-ratings.js' %}"></script>

{% endblock %}