{% extends 'master.html' %}
{% load static %}
{% block title %}
قائمة الاستشارات
{% endblock %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4">إدارة الاستشارات / <span class="text-muted fw-light">قائمة الاستشارات</span></h4>
  <!-- Users List Table -->
  <div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-title mb-3">فلتر البحث</h5>
      <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
       
        
        <div class="col-md-4 user_status">
          <select id="consultationStatus" class="form-select text-capitalize">
            <option value="">اختر الحالة</option>
            <option value="مكتمل">مكتمل</option>
            <option value="غير مكتمل">غير مكتمل</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-datatable table-responsive">
      <table class="datatables-consultations table">
        <thead class="border-top">
          <tr>
            <th></th>
            <th>المستخدم</th>
            <th>الطبيب </th>
            <th>التاريخ</th>
            <th>الحالة</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
    
  </div>
</div>
<!-- / Content -->
{% endblock %}
{% block specialJsFiles %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script>
  const csrfToken = '{{ csrf_token }}';
  const token = localStorage.getItem('token');
</script>
<!-- Page JS -->
<script type="module" src="{% static 'js/app-consultations-list.js' %}"></script>
{% endblock %}