{% extends 'master.html' %}
{% load static %}
{% block title %}
  قائمة الأطباء
{% endblock %}
{% block specialCssFiles %}
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock %}

{% block content %}
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">إدارة الأطباء / <span class="text-muted fw-light">قائمة الأطباء</span></h4>
    <!-- Users List Table -->
    <div class="card">
      <div class="card-header border-bottom">
        <h5 class="card-title mb-3">فلتر البحث</h5>
        <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
          <div class="col-md-4 user_role"></div>
          <div class="col-md-4 user_plan"></div>
          <div class="col-md-4 user_status"></div>
        </div>
      </div>
      <div class="card-datatable table-responsive">
        <table class="datatables-doctor table">
          <thead class="border-top">
            <tr>
              <th></th>
              <th>الطبيب</th>
              <th>التخصص</th>
              <th>المركز\العنوان</th>
              <th>حالة الاستشارات</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>

      <!-- Offcanvas to add new Doctor -->
      <div class="offcanvas offcanvas-end" 
      tabindex="-1" id="offcanvasAddDoctor" 
      aria-labelledby="offcanvasAddDoctorLabel">
      
      <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
          <form class="add-new-patient pt-0" id="addNewDoctorForm" onsubmit="return false">
            <div class="mb-3">
              <label class="form-label" for="user">اختيار الحساب</label>
              <select id="select-user-id" class="select2 form-select"></select>
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title mb-0">تفاصيل عن الطبيب</h5>
              </div>
              <div class="card-body">
                <!-- specialization -->
                <div class="mb-3">
                  <label class="form-label" for="doctor-specialization">التخصص</label>
                  <input type="text" class="form-control" id="doctor-specialization" placeholder="التخصص" name="doctorSpecialization" required/>
                </div>
                <!-- hospita-or-center -->
                <div class="mb-3">
                  <label class="form-label" for="hospita-or-center">اسم المركز أو المستشفى</label>
                  <input type="text" class="form-control" id="hospita-or-center" placeholder="ادخل اسم مركز او عيادة الطبيب" name="clinicOrCenter" aria-label="Product discounted price" required/>
                </div>
                <!-- Address -->
                <div class="mb-3">
                  <label class="form-label" for="center-address">العنوان</label>
                  <input type="text" class="form-control" id="center-address" placeholder="   عنوان المركز او العيادة  " name="addressOfCenter" aria-label="Product discounted price" required/>
                </div>

                <!-- Active or not -->
                <div class="d-flex justify-content-start align-items-center border-top pt-3">
                  <div class="w-25 d-flex justify-content-start">
                    <label class="switch switch-primary">
                      <input type="checkbox" class="switch-input" checked="" id="active-or-not" />
                      <span class="switch-toggle-slider"><span class="switch-on"><span class="switch-off"></span></span></span>
                    </label>
                  </div>
                  <h6 class="mb-0">نشط</h6>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">اضافة</button>
            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">الغاء</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->
{% endblock %}
{% block specialJsFiles %}
  <!-- Vendors JS -->
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <!-- Page JS -->
  <script>
    const csrfToken = '{{ csrf_token }}'
  </script>
  <script type="module" src="{% static 'js/app-doctor-list.js' %}"></script>
{% endblock %}
