{% extends 'master.html' %}
{% load static %}
{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <!-- Polar Area Chart -->
    <div class="col-lg-6 col-12 mb-4">
      <div class="card">
        <div class="card-header header-elements">
          <h5 class="card-title mb-0">أنواع المستخدمين</h5>
          <div class="card-header-elements ms-auto py-0 dropdown">
          </div>
        </div>
        <div class="card-body">
          <canvas id="polarChart" class="chartjs" data-height="337"></canvas>
        </div>
      </div>
    </div>
    <!-- /Polar Area Chart -->

    <!-- Radial bar Chart -->
    <div class="col-md-6 col-12 mb-4">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title mb-0">التقيمات</h5>
        </div>
        <div class="card-body">
          <div id="radialBarChart"></div>
        </div>
      </div>
    </div>
    <!-- /Radial bar Chart -->
    <!-- Bar Chart -->
    <div class="col-md-6 col-12 mb-4">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>
            <p class="card-subtitle text-muted mb-1">حالة التشخيص</p>
          </div>
        </div>
        <div class="card-body">
          <div id="horizontalBarChart"></div>
        </div>
      </div>
    </div>
    <!-- /Bar Chart -->
    <!-- Bar Charts -->
    <div class="col-xl-6 col-12 mb-4">
      <div class="card">
        <div class="card-header header-elements">
          <h5 class="card-title mb-0">حالة الأعلانات</h5>
          <div class="card-action-element ms-auto py-0">
          </div>
        </div>
        <div class="card-body">
          <canvas id="barChart" class="chartjs" data-height="400"></canvas>
        </div>
      </div>
    </div>
    <!-- /Bar Charts -->
    <!-- Line Chart -->
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div>
            <h5 class="card-title mb-0">إحصائيات الإشتراكات شهرياً</h5>
          </div>
          <div class="d-sm-flex d-none align-items-center">
          </div>
        </div>
        <div class="card-body">
          <div id="lineChart"></div>
        </div>
      </div>
    </div>
    <!-- /Line Chart -->
    <!-- Donut Chart -->
    <div class="col-md-4 col-12 mb-4">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div>
            <h5 class="card-title mb-0">حالة الإستشارة</h5>
          </div>
        </div>
        <div class="card-body">
          <div id="donutChart"></div>
        </div>
      </div>
    </div>
    <!-- /Donut Chart -->
    <!-- Doughnut Chart -->
    <div class="col-md-4 col-12 mb-4">
      <div class="card">
        <h5 class="card-header">الأمراض القابلة لتشخيص </h5>
        <div class="card-body">
          <canvas id="doughnutChart" class="chartjs mb-4" data-height="350"></canvas>
        </div>
      </div>
    </div>
    <!-- /Doughnut Chart -->
    <!-- Earning Reports -->
    <div class="col-md-4 col-12 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2">إحصائيات الأعلانات</h5>
          </div>
        </div>
        <div class="card-body pb-0">
          <div id="reportBarChart"></div>
        </div>
      </div>
    </div>
    <!--/ Earning Reports -->

  </div>
</div>
<!-- / Content -->

{% endblock %}
{% block specialJsFiles %}
<script>
  const csrfToken = '{{ csrf_token }}';
</script>
<!-- Page JS -->
<script src="{% static 'js/app-dashboard.js' %}"></script>
<script src="{% static 'vendor/libs/chartjs/chartjs.js'%}"></script>
<script src="{% static 'js/charts-chartjs.js'%}"></script>
<script src="{% static 'js/charts-apex.js'%}"></script>
<script type="module" src="{% static 'js/navbar.js' %}"></script>
{% endblock %}