{% load static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <img src="{% static 'img/branding/logo1.png' %}" class="app-brand-logo demo" alt="">
      <span class="app-brand-text demo menu-text fw-bold">EyesCare</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
      <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
    </a>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    <li class="menu-item {% if request.path == '/' %}active{% endif %}">
      <a href="{% url 'index' %}" class="menu-link ">
        <i class="menu-icon tf-icons ti ti-home"></i>
        <div data-i18n="Home">الرئيسية</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="app-email.html" class="menu-link">
        <i class="menu-icon tf-icons ti ti-chart-bar"></i>
        <div data-i18n="Statistic">احصائيات</div>
      </a>
    </li>


    <!-- Front Pages -->
    <!-- Apps & Pages -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Apps & Pages">التطبيقات والصفحات</span>
    </li>
    <li class="menu-item {% if 'users' in request.path or 'doctors' in request.path or 'patients' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-users-group"></i>
        <div data-i18n="Users List">إدارة المستخدمين</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'users' in request.path %}active{% endif %}">
          <a href="{% url 'usersList' %}" class="menu-link">
            <i class="menu-icon tf-icons ti ti-users-group"></i>
            <div data-i18n="Users List">إدارة المستخدمين</div>
          </a>
        </li>
        <li class="menu-item {% if 'doctors' in request.path %}active{% endif %}">
          <a href="{% url 'doctorssList' %}" class="menu-link">
            <i class="menu-icon tf-icons ti ti-stethoscope"></i>
            <div data-i18n="Doctors List">إدارة الأطباء</div>
          </a>
        </li>
        <li class="menu-item {% if 'patients' in request.path %}active{% endif %}">
          <a href="{% url 'patientsList' %}" class="menu-link">
            <i class="menu-icon tf-icons ti ti-heartbeat"></i>
            <div data-i18n="patients List">إدارة المرضى</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item {% if 'researches' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-users-group"></i>
        <div data-i18n="Research And Studies"> الدراسات والأبحاث</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'researches/page/' in request.path or 'researches/page/details/' %}active{% endif %}">
          <a href="{% url 'research-view' %}" class="menu-link">
            <i class="menu-icon tf-icons ti ti-users-group"></i>
            <div data-i18n="Research List">إدارة الدراسات </div>
          </a>
        </li>
        <li class="menu-item {% if 'journals/page/' in request.path %}active{% endif %}">
          <a href="{% url 'journal-view' %}" class="menu-link">
            <i class="menu-icon tf-icons ti ti-stethoscope"></i>
            <div data-i18n="Juornals List">إدارة المجلات</div>
          </a>
        </li>
        <li class="menu-item {% if 'fields/page/' in request.path %}active{% endif %}">
          <a href="{% url 'field-view' %}" class="menu-link">
            <i class="menu-icon tf-icons ti ti-heartbeat"></i>
            <div data-i18n="Field List">إدارة المجالات</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item {% if 'posts' in request.path %}active{% endif %}">     
      <a href="{% url 'posts_list' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-file-text"></i>
        <div data-i18n="posts List">إدارة المنشورات</div>
      </a>
    </li>
    <li class="menu-item {% if 'diagnosis' in request.path %}active{% endif %}">     
      <a href="{% url 'diagnosis_list' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-photo-sensor-2"></i>
        <div data-i18n="diagnosis List">إدارة التشخيصات</div>
      </a>
    </li>
    <li class="menu-item {% if 'diseases' in request.path %}active{% endif %}">     
      <a href="{% url 'diseases_list' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-users-group"></i>
        <div data-i18n="diseases List">إدارة الأمراض</div>
      </a>
    </li>
    <li class="menu-item {% if 'evaluations' in request.path %}active{% endif %}">     
      <a href="{% url 'evaluations_page' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-users-group"></i>
        <div data-i18n="evalautions management">إدارة التقييمات</div>
      </a>
    </li>
    <li class="menu-item">     
      <a href="{% url 'adv_list' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-users-group"></i>
        <div data-i18n="advertisements list">إدارة الإعلانات</div>
      </a>
    </li>
    <li class="menu-item">     
      <a href="{% url 'consultation_list' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-users-group"></i>
        <div data-i18n="consultations list">إدارة الاستشارات</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'app_emails' %}" class="menu-link">
        <i class="menu-icon tf-icons ti ti-mail"></i>
        <div data-i18n="Email">Email</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="https://pixinvent.ticksy.com/" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons ti ti-lifebuoy"></i>
        <div data-i18n="Support">Support</div>
      </a>
    </li>
    <li class="menu-item">
      <a
        href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/"
        target="_blank"
        class="menu-link">
        <i class="menu-icon tf-icons ti ti-file-description"></i>
        <div data-i18n="Documentation">Documentation</div>
      </a>
    </li>
  </ul>
</aside>
<!-- / Menu -->