{% extends 'master.html' %}
{% load static %}
{% block title %}
      تفاصيل المريض
{% endblock  %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock  %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4"> المرضى /<span class="text-muted fw-light"> تفاصيل المريض </span></h4>
  <div class="row">
    <!-- User Sidebar -->
    <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
      <!-- User Card  تفاصيل المستخدم الاساسية بشكل عام-->
      <div class="card mb-4">
        <div class="card-body">
          <div class="user-avatar-section">
            <div class="d-flex align-items-center flex-column">
              <img
                id="user-avatar"
                class="img-fluid rounded mb-3 pt-1 mt-4"
                src=""
                height="100"
                width="100"
                alt="User avatar" />
              <div class="user-info text-center">
                <h4 id="user-ful-name" class="mb-2"></h4>
                <span class="badge bg-label-secondary mt-1" id="userType">مريض</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-around flex-wrap  pb-4 border-bottom">
          </div>
          <p class="mt-4 small text-uppercase text-muted">التفاصيل الاساسية</p>
          <div class="info-container">
            <ul class="list-unstyled">
              <li class="mb-2">
                <span class="fw-medium me-1">رقم المريض:</span>
                <span id="patient-number">#</span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">البريد الالكتروني:</span>
                <span id="user-email"></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1"> رقم الهاتف:</span>
                <span id="user-phone"></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1"> الجنس:</span>
                <span id="user-gender"></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1"> العنوان:</span>
                <span id="user-address"></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1"> تاريخ الميلاد:</span>
                <span id="user-birthdate"></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">الحالة:</span>
                <span id="user-status" class="badge bg-label-success"></span>
              </li>
              <li class="mb-2 pt-1">
                <span class="fw-medium me-1">التوثيق:</span>
                <span id="user-verification" class="badge bg-label-danger"></span>
              </li>
            </ul>
            <div class="d-flex justify-content-center">
              <a
                href="javascript:;"
                class="btn btn-primary me-3"
                data-bs-target="#editUser"
                data-bs-toggle="modal">تعديل
                </a>
              <a 
                href="javascript:;"
                class="btn suspend-user"
                type="button" id="confirm-active-alert">
                
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /User Card -->
      <!-- Plan Card تفاصيل الاشتراك-->
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-start">
            <span class="badge bg-label-primary">الباقة المميزة</span>
            <div class="d-flex justify-content-center">
              <sup class="h6 pricing-currency mt-3 mb-0 me-1 text-primary fw-normal">$</sup>
              <h1 class="fw-medium mb-0 text-primary">99</h1>
              <sub class="h6 pricing-duration mt-auto mb-2 fw-normal text-muted">/شهر</sub>
            </div>
          </div>
          <ul class="ps-3 g-2 my-3">
            <li class="mb-2">وصول إلى جميع المقالات والمعلومات العامة.</li>
            <li class="mb-2">إمكانية التواصل مع طبيب عبر الدردشة بشكل غير محدود.</li>
          </ul>
          <div class="d-flex justify-content-between align-items-center mb-1 fw-medium text-heading">
            <span>أيام</span>
            <span>65% اكتمل</span>
          </div>
          <div class="progress mb-1" style="height: 8px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 65%"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <span>متبقي 4 أيام</span>
        </div>
      </div>
      <!-- /Plan Card -->
    </div>
    <!--/ User Sidebar -->
    <!-- Patient Content التفاصيل الخاصة بالمريض-->
    <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
      <!-- Patient Tabs أزرار التنقل بين النوافذ مع محتويات كل نافذة -->
      <div class="nav-align-top nav-tabs-shadow mb-4">
        <ul class="nav nav-tabs nav-fill" role="tablist">
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-justified-devices"
              aria-controls="navs-justified-devices"
              aria-selected="false">
              الأجهزة 
              <i class="tf-icons ti ti-device-mobile ti-xs ms-2"></i> 
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link active"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-justified-diagnosis"
              aria-controls="navs-justified-diagnosis"
              aria-selected="false">
              التشخيصات 
              <i class="tf-icons ti ti-eye-check ti-xs ms-2"></i>
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-justified-consultations"
              aria-controls="navs-justified-consultations"
              aria-selected="false">
              الاستشارات 
              <i class="tf-icons ti ti-device-mobile ti-xs ms-2"></i> 
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-justified-current_plan"
              aria-controls="navs-justified-current_plan"
              aria-selected="false">
              الاشتراكات 
              <i class="tf-icons ti ti-shopping-bag ti-xs ms-2"></i> 
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade" id="navs-justified-devices" role="tabpanel">
            <!-- Recent Devices الأجهزة التي تم الدخول منها -->
            <div class="card mb-4" style=" box-shadow: none;">
              <h5 class="card-header">الأجهزة الحديثة</h5>
              <div class="table-responsive">
                <table class="table border-top">
                  <thead>
                    <tr>
                      <th class="text-truncate">المتصفح</th>
                      <th class="text-truncate">الجهاز</th>
                      <th class="text-truncate">الموقع</th>
                      <th class="text-truncate">الأنشطة الحديثة</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-truncate">
                        <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                        <span class="fw-medium">Chrome on Windows</span>
                      </td>
                      <td class="text-truncate">HP Spectre 360</td>
                      <td class="text-truncate">Switzerland</td>
                      <td class="text-truncate">10, July 2021 20:07</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">
                        <i class="ti ti-device-mobile text-danger ti-xs me-2"></i>
                        <span class="fw-medium">Chrome on iPhone</span>
                      </td>
                      <td class="text-truncate">iPhone 12x</td>
                      <td class="text-truncate">Australia</td>
                      <td class="text-truncate">13, July 2021 10:10</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">
                        <i class="ti ti-brand-android text-success ti-xs me-2"></i>
                        <span class="fw-medium">Chrome on Android</span>
                      </td>
                      <td class="text-truncate">Oneplus 9 Pro</td>
                      <td class="text-truncate">Dubai</td>
                      <td class="text-truncate">14, July 2021 15:15</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">
                        <i class="ti ti-brand-apple ti-xs me-2"></i>
                        <span class="fw-medium">Chrome on MacOS</span>
                      </td>
                      <td class="text-truncate">Apple iMac</td>
                      <td class="text-truncate">India</td>
                      <td class="text-truncate">16, July 2021 16:17</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">
                        <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                        <span class="fw-medium">Chrome on Windows</span>
                      </td>
                      <td class="text-truncate">HP Spectre 360</td>
                      <td class="text-truncate">Switzerland</td>
                      <td class="text-truncate">20, July 2021 21:01</td>
                    </tr>
                    <tr>
                      <td class="text-truncate border-bottom-0">
                        <i class="ti ti-brand-android text-success ti-xs me-2"></i>
                        <span class="fw-medium">Chrome on Android</span>
                      </td>
                      <td class="text-truncate border-bottom-0">Oneplus 9 Pro</td>
                      <td class="text-truncate border-bottom-0">Dubai</td>
                      <td class="text-truncate border-bottom-0">21, July 2021 12:22</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--/ Recent Devices الأجهزة التي تم الدخول منها -->
          </div>
          <div class="tab-pane fade show active" id="navs-justified-diagnosis" role="tabpanel">
            <!-- diagnosis table سجل التشخيصات -->
            <div class="card" style=" box-shadow: none;">
              <div class="table-responsive">
                <table class="table datatable-diagnosis border-top">
                  <thead>
                    <tr>
                      <th></th>
                      <th>التشخيص</th>
                      <th class="text-nowrap">النتيجة</th>
                      <th>التاريخ</th>
                      <th>المزيد</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- /diagnosis table سجل التشخيصات -->
          </div>
          <div class="tab-pane fade" id="navs-justified-consultations" role="tabpanel">
            <!-- consultations table سجل الاستشارات -->
            <div class="card mb-4 " style=" box-shadow: none;">
              <div class="table-responsive mb-3">
                <table class="table datatable-consultations border-top">
                  <thead>
                    <tr>
                      <th></th>
                      <th>الدكتور</th>
                      <th>التاريخ</th>
                      <th>الحالة</th>
                      <th>المزيد</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- /consultations table  سجل الاستشارات -->
          </div>
          <div class="tab-pane fade" id="navs-justified-current_plan" role="tabpanel">
            <!-- Current Plan معلومات الباقة والاشتراك الحالي -->
            <div class="card mb-4" style=" box-shadow: none;">
              <h5 class="card-header">الباقة الحالية</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-6 order-1 order-xl-0">
                    <div class="mb-2">
                      <h6 class="mb-1">باقتك الحالية هي الباقة الأساسية</h6>
                      <p>باقة بسيطة للجميع</p>
                    </div>
                    <div class="mb-2 pt-1">
                      <h6 class="mb-1">نشطة حتى 09 ديسمبر 2024 </h6>
                      <p>سنرسل إشعارًا عند انتهاء الإشتراك</p>
                    </div>
                  </div>
                  <div class="col-xl-6 order-0 order-xl-0">
                    <div class="alert alert-warning" role="alert">
                      <h5 class="alert-heading mb-2">تتطلب الباقة تحديثًا!</h5>
                    </div>
                    <div class="plan-statistics">
                      <div class="d-flex justify-content-between">
                        <h6 class="mb-1">أيام</h6>
                        <h6 class="mb-1">24 of 30 أيام</h6>
                      </div>
                      <div class="progress mb-1" style="height: 10px">
                        <div
                          class="progress-bar w-75"
                          role="progressbar"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>
                      <p>6 أيام متبقية حتى تحتاج الباقة إلى تحديث</p>
                    </div>
                  </div>
                  <div class="col-12 order-2 order-xl-0 d-flex flex-wrap gap-2">
                    <button
                      class="btn btn-primary me-2"
                      data-bs-toggle="modal"
                      data-bs-target="#upgradePlanModal">
                      ترقية الباقة
                    </button>
                    <button class="btn btn-label-danger cancel-subscription">الغاء الاشتراك</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Current Plan معلومات الباقة والاشتراك الحالي  -->
            <!-- Payment Methods طرق الدفع -->
            <div class="card card-action mb-4" style=" box-shadow: none;">
              <div class="card-header align-items-center">
                <h5 class="card-action-title mb-0">طرق الدفع</h5>
                <div class="card-action-element">
                  <button
                    class="btn btn-primary btn-sm"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#addNewCCModal">
                    <i class="ti ti-plus ti-xs me-1"></i>Add Card
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="added-cards">
                  <div class="cardMaster border p-3 rounded mb-3">
                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                      <div class="card-information">
                        <img
                          class="mb-3 img-fluid"
                          src="{% static 'img/icons/payments/mastercard.png' %}"
                          alt="Master Card" />
                        <h6 class="mb-2 pt-1">Kaith Morrison</h6>
                        <span class="card-number"
                          >&#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727;
                          9856</span
                        >
                      </div>
                      <div class="d-flex flex-column text-start text-lg-end">
                        <div class="d-flex order-sm-0 order-1 mt-3">
                          <button
                            class="btn btn-label-primary me-3"
                            data-bs-toggle="modal"
                            data-bs-target="#editCCModal">
                            Edit
                          </button>
                          <button class="btn btn-label-secondary">Delete</button>
                        </div>
                        <small class="mt-sm-auto mt-2 order-sm-1 order-0">Card expires at 12/26</small>
                      </div>
                    </div>
                  </div>
                  <div class="cardMaster border p-3 rounded mb-3">
                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                      <div class="card-information">
                        <img
                          class="mb-3 img-fluid"
                          src="{% static 'img/icons/payments/visa.png' %}"
                          alt="Master Card" />
                        <div class="d-flex align-items-center mb-2 pt-1">
                          <h6 class="mb-0 me-3">Tom McBride</h6>
                          <span class="badge bg-label-primary me-1">Primary</span>
                        </div>
                        <span class="card-number"
                          >&#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727;
                          6542</span
                        >
                      </div>
                      <div class="d-flex flex-column text-start text-lg-end">
                        <div class="d-flex order-sm-0 order-1 mt-3">
                          <button
                            class="btn btn-label-primary me-3"
                            data-bs-toggle="modal"
                            data-bs-target="#editCCModal">
                            Edit
                          </button>
                          <button class="btn btn-label-secondary">Delete</button>
                        </div>
                        <small class="mt-sm-auto mt-2 order-sm-1 order-0">Card expires at 10/24</small>
                      </div>
                    </div>
                  </div>
                  <div class="cardMaster border p-3 rounded">
                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                      <div class="card-information">
                        <img
                          class="mb-3 img-fluid"
                          src="{% static 'img/icons/payments/american-express-logo.png' %}"
                          alt="Visa Card" />
                        <h6 class="mb-1 pt-1">Mildred Wagner</h6>
                        <span class="card-number"
                          >&#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727; &#8727;&#8727;&#8727;&#8727;
                          5896</span
                        >
                      </div>
                      <div class="d-flex flex-column text-start text-lg-end">
                        <div class="d-flex order-sm-0 order-1 mt-3">
                          <button
                            class="btn btn-label-primary me-3"
                            data-bs-toggle="modal"
                            data-bs-target="#editCCModal">
                            Edit
                          </button>
                          <button class="btn btn-label-secondary">Delete</button>
                        </div>
                        <small class="mt-sm-auto mt-2 order-sm-1 order-0">Card expires at 10/27</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Payment Methods طرق الدفع -->
          </div>
        </div>
      </div>
      <!-- Patient Tabs أزرار التنقل بين النوافذ مع محتويات كل نافذة -->
    </div>
    <!--/ Patient Content التفاصيل الخاصة بالمريض-->
  </div>
  <!-- Modals -->
  <!-- Edit User Modal نافذة منبثقة لتعديل معلومات المستخدم-->
  <div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
      <div class="modal-content p-1 ">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">تعديل معلومات المستخدم</h3>
            <p class="text-muted">سيتم فحص تحديث بيانات المستخدم من خلال مراجعة خصوصية.</p>
          </div>
          <form id="editUserForm" enctype="multipart/form-data" class="row g-3" onsubmit="return false">
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserFirstName">الاسم الاول</label>
              <input
                type="text"
                id="modalEditUserFirstName"
                name="first_name"
                class="form-control"
                placeholder="John" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserLastName">الاسم الثاني</label>
              <input
                type="text"
                id="modalEditUserLastName"
                name="last_name"
                class="form-control"
                placeholder="John" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserEmail">البريد الالكتروني</label>
              <input
                type="text"
                id="modalEditUserEmail"
                name="email"
                class="form-control"
                readonly
                placeholder="example@domain.com" />
            </div>
            <div class="col-12 col-md-6">
              <label for="modalEditUserFile" class="form-label">الصورة الشخصية</label>
              <input 
              class="form-control" 
              type="file" 
              id="modalEditUserFile" 
              name="profile_picture" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserPhone">رقم الهاتف</label>
              <div class="input-group">
                <input
                  type="text"
                  id="modalEditUserPhone"
                  name="phone_number"
                  class="form-control phone-number-mask"
                  placeholder="202 555 0111" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUsergender">الجنس</label>
              <select
                id="modalEditUsergender"
                name="gender"
                class="select2 form-select"
                aria-label="Default select example">
                <option value="ذكر">ذكر</option>
                <option value="أنثى">أنثى</option>
              </select>
            </div>
            <div class="col-12 col-md-6">
              <label for="bs-datepicker-autoclose-birthdate" class="form-label">تاريخ الميلاد</label>
              <input
                type="date"
                id="bs-datepicker-autoclose-birthdate"
                name="birth_date"
                placeholder="MM/DD/YYYY"
                class="form-control" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserRole">نوع المستخدم</label>
              <select
                id="modalEditUserRole"
                name="user_type"
                class="select2 form-select"
                aria-label="Default select example">
                <option value="admin">مدير</option>
                <option value="user">مستخدم عادي</option>
                <option value="patient">مريض</option>
                <option value="doctor">طبيب</option>
              </select>
            </div>
            <div class="col-12 col-md-6">
              <label for="modalEditUserAddress" class="form-label">المدينة</label>
              <select id="modalEditUserAddress" class="select2 form-select">
              </select>
            </div>
            <div class="col-12">
              <label class="switch">
                <input type="checkbox" name="is_blue_verified" id="switch-input-verified" class="switch-input" />
                <span class="switch-toggle-slider">
                  <span class="switch-on"></span>
                  <span class="switch-off"></span>
                </span>
                <span class="switch-label">توثيق الحساب</span>
              </label>
            </div>
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">حفظ التعديلات</button>
              <button
                type="reset"
                class="btn btn-label-secondary"
                data-bs-dismiss="modal"
                aria-label="Close">
                الغاء
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Edit User Modal نافذة منبثقة لتعديل معلومات المستخدم-->
  <!-- Enable OTP Modal -->
  <div class="modal fade" id="enableOTP" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">Enable One Time Password</h3>
            <p>Verify Your Mobile Number for SMS</p>
          </div>
          <p>Enter your mobile phone number with country code and we will send you a verification code.</p>
          <form id="enableOTPForm" class="row g-3" onsubmit="return false">
            <div class="col-12">
              <label class="form-label" for="modalEnableOTPPhone">Phone Number</label>
              <div class="input-group">
                <span class="input-group-text">US (+1)</span>
                <input
                  type="text"
                  id="modalEnableOTPPhone"
                  name="modalEnableOTPPhone"
                  class="form-control phone-number-otp-mask"
                  placeholder="202 555 0111" />
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
              <button
                type="reset"
                class="btn btn-label-secondary"
                data-bs-dismiss="modal"
                aria-label="Close">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Enable OTP Modal -->
  <!-- Upgrade Plan Modal نافذة منبثقة لترقية الباقة -->
  <div class="modal fade" id="upgradePlanModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-simple modal-upgrade-plan">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">ترقية الباقة</h3>
            <p>اختر افضل باقة للمستخدم</p>
          </div>
          <form id="upgradePlanForm" class="row g-3" onsubmit="return false">
            <div class="col-sm-8">
              <label class="form-label" for="choosePlan">اختر الباقة</label>
              <select id="choosePlan" name="choosePlan" class="form-select" aria-label="Choose Plan">
                <option selected>اختر الباقة</option>
                <option value="standard">أساسية - $99/شهر</option>
                <option value="exclusive">مميزة - $249/شهر</option>
                <option value="Enterprise">بسيطة - $499/شهر</option>
              </select>
            </div>
            <div class="col-sm-4 d-flex align-items-end">
              <button type="submit" class="btn btn-primary">ترقية</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Upgrade Plan Modal  نافذة منبثقة لترقية الباقة  -->
  <!-- /Modals -->
</div>
<!-- / Content -->
{% endblock  %}
{% block specialJsFiles %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>

<script>
  const getId = '{{ patient_id }}';
</script>
<!-- Page JS -->
<script type="module" src="{% static 'js/app-patient-profile.js' %}"></script>
{% endblock  %}

