{% extends 'master.html' %}
{% load static %}
{% block title %}
      قائمة الأمراض
{% endblock  %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock  %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4">إدارة الأمراض / <span class="text-muted fw-light">قائمة الأمراض</span></h4>
  <!-- diseases List Table -->
  <div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-title mb-3">فلتر البحث</h5>
      <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
        <div class="col-md-4 diseases_status"></div>
      </div>
    </div>
    <div class="card-datatable table-responsive">
      <table class="datatables-diseases table">
        <thead class="border-top">
          <tr>
            <th></th>
            <th>اسم المرض</th>
            <th>الصورة</th>
            <th>الحالة</th>
            <th>تاريخ الإضافة</th>
            <th></th>
          </tr>
        </thead>
      </table>
      
    </div>
    <!-- Offcanvas to add new user -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasAdddiseases"
      aria-labelledby="offcanvasAddUserLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasAddUserLabel" class="offcanvas-title"> إضافة مرض</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
        <form id="diseaseForm" class="mt-2" enctype="multipart/form-data">
          <div class="section">
            <h5 class="section-title title">اسم المرض</h5>
            <input class="form-control" id="diseaseDescription" rows="3"  placeholder="أدخل اسم المرض" name="name"></input>
        </div>
          <div class="section">
              <h5 class="section-title title">وصف المرض</h5>
              <textarea class="form-control" id="diseaseDescription" rows="3"  placeholder="أدخل وصف المرض" name="description"></textarea>
          </div>
          <div class="section">
              <h5 class="section-title title">الأعراض</h5>
              <textarea class="form-control" id="diseaseSymptoms" rows="4"  placeholder="أدخل أعراض المرض" name="symptoms"></textarea>
          </div>
          <div class="section">
              <h5 class="section-title title">الأسباب</h5>
              <textarea class="form-control" id="diseaseCauses" rows="4"  placeholder="أدخل أسباب المرض" name="causes"></textarea>
          </div>
          <div class="section">
              <h5 class="section-title title">طرق التشخيص</h5>
              <textarea class="form-control" id="diseaseDiagnosis" rows="4"  placeholder="أدخل طرق التشخيص" name="diagnosis_methods"></textarea>
          </div>
          <div class="section">
              <h5 class="section-title title">طرق العلاج</h5>
              <textarea class="form-control" id="diseaseTreatment" rows="3"  placeholder="أدخل طرق العلاج" name="treatment_options"></textarea>
          </div>
          <div class="section">
              <h5 class="section-title title" >الصور التوضيحية</h5>
              <input type="file" class="form-control-file" id="diseaseImages"  placeholder="اختر صورة" name="image">
              <div class="image-preview" id="imagePreview"></div>
          </div>
          <div class="section">
              <h5 class="section-title title">نصائح للوقاية</h5>
              <textarea class="form-control" id="diseasePrevention" rows="6"  placeholder="أدخل طرق الوقاية" name="prevention_recommendations"></textarea>
          </div>
      </form>
      <button class="btn btn-primary btn-save" id="saveButton" style="display: none;"><i class="fas fa-save m-1"></i> حفظ </button>

      </div>
    </div>
  </div>
</div>
<!-- / Content -->

{% endblock  %}
{% block specialJsFiles %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'js/cards-statistics.js' %}"></script>
<script type="module" src="{% static 'js/app-diseases-list.js' %}"></script>
{% endblock  %}

