{% extends 'master.html' %}
{% load static %}
{% block title %}
      تفاصيل التشخيص
{% endblock  %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/diseases-details.css' %}" />
{% endblock  %}
{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 ">
  <div class="row diagnosis-preview">
    <!--  -->
    <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4 print-content ">
      <div class="card diagnosis-preview-card">
        <div class="card-body">
        <button class="btn btn-primary btn-edit" id="editButton"><i class="fas fa-edit"></i> تعديل المعلومات</button>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <h6 class="mb-3">وصف المرض</h6>
          <p class="mb-1" id="diseases-desc"></p>
          <div class="row p-sm-3 p-0">
            <div class="col-xl-6 col-md-12 col-sm-5 col-12 mb-xl-0 mb-md-4 mb-sm-0 mb-4">
              <h6 class="mb-3">الأسباب:</h6>
              <ul id="couseslist">
              </ul>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-7 col-12">
              <h6 class="mb-4">الأعراض:</h6>
              <ul id="sympthomslist">
              </ul>
            </div>
          </div>
          <div class="mt-2 row p-sm-3 p-0">
            <div class="col-xl-6 col-md-12 col-sm-5 col-12 mb-xl-0 mb-md-4 mb-sm-0 mb-4">
              <h6 class="mb-3">طرق التشخيص:</h6>
              <ul id="diagnosisMethodslist">
              </ul>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-7 col-12">
              <h6 class="mb-4">طرق العلاج:</h6>
              <ul id="treatementoptionslist">
              </ul>
            </div>
          </div>
          <h6 class="mb-3">طرق الوقاية:</h6>
          <ul id="preventionrecommendationslist">
          </ul>
        </div>
        {% comment %} صور توضيحية {% endcomment %}
        <h6 class="mb-3">صوره توضيحية:</h6>
          <div class="disease-images row mx-2">
            <div class="col-md-4">
              <img src="" alt="صورة " id="diseases-image">
            </div>
          </div>
      </div>
    </div>
    <!-- / -->

    <!-- diseases Actions -->
    <div class="col-xl-3 col-md-4 col-12 diagnosis-actions hide-print">
      <div class="card">
        <div class="card-body">
          <button
            class="btn btn-primary d-grid w-100 mb-2"
            data-bs-toggle="offcanvas"
            data-bs-target="#senddiagnosisOffcanvas">
            <span class="d-flex align-items-center justify-content-center text-nowrap"
              ><i class="ti ti-send ti-xs me-2"></i>إرسال</span
            >
          </button>
          <a
            class="btn btn-label-secondary d-grid w-100 mb-2"
            type="button"
            id="printButton"
            href="javascript:;">
            <span
              class="d-flex align-items-center justify-content-center text-nowrap">
              <i class="ti ti-printer ti-xs me-2"></i>طباعة
            </span>            
          </a>
          <a href="javascript:;"
            id="confirm-text"
            class="btn btn-label-danger d-grid w-100 mb-2">
            <span
              class="d-flex align-items-center justify-content-center text-nowrap">
              <i class="ti ti-trash ti-xs me-2"></i>حذف
            </span> 
          </a>

        </div>
      </div>
    </div>
    <!-- /diagnosis Actions -->
  </div>

  <!-- Offcanvas -->
  <!-- Send diagnosis Sidebar -->
  <div class="offcanvas offcanvas-end" id="senddiagnosisOffcanvas" aria-hidden="true">
    <div class="offcanvas-header my-1">
      <h5 class="offcanvas-title">Send diagnosis</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0 flex-grow-1">
      <form>
        <div class="mb-3">
          <label for="diagnosis-from" class="form-label">From</label>
          <input
            type="text"
            class="form-control"
            id="diagnosis-from"
            value="shelbyComapny@email.com"
            placeholder="company@email.com" />
        </div>
        <div class="mb-3">
          <label for="diagnosis-to" class="form-label">To</label>
          <input
            type="text"
            class="form-control"
            id="diagnosis-to"
            value="qConsolidated@email.com"
            placeholder="company@email.com" />
        </div>
        <div class="mb-3">
          <label for="diagnosis-subject" class="form-label">Subject</label>
          <input
            type="text"
            class="form-control"
            id="diagnosis-subject"
            value="diagnosis of purchased Admin Templates"
            placeholder="diagnosis regarding goods" />
        </div>
        <div class="mb-3">
          <label for="diagnosis-message" class="form-label">Message</label>
          <textarea class="form-control" name="diagnosis-message" id="diagnosis-message" cols="3" rows="8">
            Dear Queen Consolidated,
            Thank you for your business, always a pleasure to work with you!
            We have generated a new diagnosis in the amount of $95.59
            We would appreciate payment of this diagnosis by 05/11/2021</textarea
          >
        </div>
        <div class="mb-4">
          <span class="badge bg-label-primary">
            <i class="ti ti-link ti-xs"></i>
            <span class="align-middle">diagnosis Attached</span>
          </span>
        </div>
        <div class="mb-3 d-flex flex-wrap">
          <button type="button" class="btn btn-primary me-3" data-bs-dismiss="offcanvas">Send</button>
          <button type="button" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /Send diagnosis Sidebar -->
  <!-- /Offcanvas -->
</div>
<!-- / Content -->
{% endblock  %}
{% block specialJsFiles %}
<script>
  const getId = '{{ desease_id }}';
</script>
<script type="module" src="{% static 'js/app-diseases-details.js'%}"></script>
{% endblock  %}

