{% extends 'master.html' %}
{% load static %}
{% block title %}
      تفاصيل التشخيص
{% endblock  %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/edit-diseases-details.css' %}" />

{% endblock  %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 ">
  <div class="row diagnosis-preview">
    <!-- diagnosis -->
    <div class="col-xl-12 col-md-12 col-12 mb-md-0 mb-4 print-content mt-2">
      
      <div class="container content ">
        <button class="btn btn-primary btn-edit" id="editButton"><i class="fas fa-edit"></i> تعديل المعلومات</button>
        <button class="btn btn-success btn-save" id="saveButton" style="display: none;"><i class="fas fa-save"></i> حفظ التعديلات</button>
    
        <form id="diseaseForm" class="mt-2">
            <div class="section">
                <h5 class="section-title title">وصف المرض</h5>
                <textarea class="form-control" id="diseaseDescription" rows="3" readonly>لمياه الزرقاء (الجلوكوما) هو مرض يصيب العين ويؤثر على العصب البصري، مما قد يؤدي إلى فقدان البصر تدريجياً.</textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">الأعراض</h5>
                <textarea class="form-control" id="diseaseSymptoms" rows="6" readonly>فقدان البصر التدريجي: عادة ما يكون فقدان البصر في المياه الزرقاء تدريجياً ولا يُلاحظ في البداية.
                    فقدان الرؤية المحيطية: يُعد فقدان الرؤية المحيطية (الجانبية) أحد الأعراض المبكرة للمياه الزرقاء.
                    رؤية هالات حول الأضواء: قد تظهر هالات حول الأضواء في بعض الحالات.
                    ألم في العين: قد يشعر بعض المرضى بألم في العين، خاصة في المراحل المتقدمة.</textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">الأسباب</h5>
                <textarea class="form-control" id="diseaseCauses" rows="6" readonly>ضغط العين المرتفع: يُعد الضغط داخل العين (Intraocular Pressure) أحد الأسباب الرئيسية للمياه الزرقاء، حيث يؤثر على العصب البصري.
                    العوامل الوراثية: تُعد الوراثة عاملاً رئيسياً في بعض أنواع المياه الزرقاء.
                    العمر: يزداد خطر الإصابة بالمياه الزرقاء مع تقدم العمر.
                    أمراض أخرى: بعض الأمراض مثل السكري وارتفاع ضغط الدم قد تزيد من خطر الإصابة بالمياه الزرقاء.
                    بعض الأدوية: بعض الأدوية مثل الكورتيزون قد تزيد من خطر الإصابة بالمياه الزرقاء.</textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">طرق التشخيص</h5>
                <textarea class="form-control" id="diseaseDiagnosis" rows="4" readonly>فحص العين: يشمل فحص العين قياس ضغط العين، وفحص قاع العين، وقياس مجال الرؤية.
                    اختبارات أخرى: قد تتضمن اختبارات أخرى مثل التصوير بالرنين المغناطيسي (MRI) أو التصوير المقطعي المحوسب (CT Scan) في بعض الحالات</textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">طرق العلاج</h5>
                <textarea class="form-control" id="diseaseTreatment" rows="5" readonly>قطرات العين: تُستخدم قطرات العين لتقليل ضغط العين.
                    العلاج بالليزر: يمكن استخدام الليزر لعلاج بعض أنواع المياه الزرقاء.
                    الجراحة: قد تكون الجراحة ضرورية في بعض الحالات لعلاج المياه الزرقاء.</textarea>
            </div>
            <div class="section">
                <h5 class="section-title title" >الصور التوضيحية</h5>
                <input type="file" class="form-control-file" id="diseaseImages" multiple >
                <div class="image-preview" id="imagePreview"></div>
            </div>
            <div class="section">
                <h5 class="section-title title">نصائح للوقاية</h5>
                <textarea class="form-control" id="diseasePrevention" rows="6" readonly>فحص العين المنتظم: يُنصح بإجراء فحص العين بشكل منتظم، خاصة بعد سن الأربعين.
                    التحكم في ضغط الدم: يُنصح بالتحكم في ضغط الدم، خاصة إذا كنت مصاباً بارتفاع ضغط الدم.
                    التحكم في مرض السكري: يُنصح بالتحكم في مرض السكري، خاصة إذا كنت مصاباً بالسكري.
                    التغذية الصحية: يُنصح باتباع نظام غذائي صحي غني بالفواكه والخضروات.
                    التجنب من التدخين: يُنصح بالتوقف عن التدخين.</textarea>
            </div>
        </form>
    </div>
    </div>
    
  </div>

  
</div>
<!-- / Content -->
{% endblock  %}
{% block specialJsFiles %}
<script src="{% static 'js/edit-diseases-details.js' %}"></script>

{% endblock  %}

