{% extends 'master.html' %}
{% load static %}
{% block title %}
    تفاصيل التشخيص
{% endblock  %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/edit-diseases-details.css' %}" />

{% endblock  %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 ">
<div class="row diagnosis-preview">
    <!-- diagnosis -->
    <div class="col-xl-12 col-md-12 col-12 mb-md-0 mb-4 print-content mt-2">
    <div class="container content ">
        <form id="diseaseForm" class="mt-2" enctype="multipart/form-data">
            <div class="section">
                <h5 class="section-title title">إسم المرض</h5>
                <textarea class="form-control" id="diseaseName" rows="3" name="name"></textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">وصف المرض</h5>
                <textarea class="form-control" id="diseaseDescription" rows="3" name="description"></textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">الأعراض</h5>
                <textarea class="form-control" id="diseaseSymptoms" rows="6" name="symptoms"></textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">الأسباب</h5>
                <textarea class="form-control" id="diseaseCauses" rows="6" name="causes"></textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">طرق التشخيص</h5>
                <textarea class="form-control" id="diseaseDiagnosis" rows="4" name="diagnosis_methods"></textarea>
            </div>
            <div class="section">
                <h5 class="section-title title">طرق العلاج</h5>
                <textarea class="form-control" id="diseaseTreatment" rows="5" name="treatment_options"></textarea>
            </div>
            <div class="section">
                <h5 class="section-title title" >الصور التوضيحية</h5>
                <input type="file" class="form-control-file" id="diseaseImages"  name="image">
                <div class="image-preview" id="imagePreview"></div>
            </div>
            <div class="section">
                <h5 class="section-title title">نصائح للوقاية</h5>
                <textarea class="form-control" id="diseasePrevention" rows="6" name="prevention_recommendations"></textarea>
            </div>
            <button class="btn btn-success btn-save" id="saveButton" style="display: none;" type="submit"><i class="fas fa-save"></i> حفظ التعديلات</button>
        </form>
    </div>
    </div>
    
</div>


</div>
<!-- / Content -->
{% endblock  %}
{% block specialJsFiles %}
<script>
    const getId = '{{ desease_id }}';
</script>
<script type="module" src="{% static 'js/app-diseases-edit.js' %}"></script>
{% endblock  %}

