{% extends 'master.html' %}
{% load static %}
{% block title %}
      قائمة الدراسات
{% endblock  %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock  %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4">إدارة الدراسات / <span class="text-muted fw-light">قائمة الدراسات</span></h4>
  <div class="row g-4 mb-4">
    <div class="col-lg-12 mb-1 col-md-12">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title mb-0">احصائيات الأبحاث</h5>
          <small class="text-muted">اخر تحديث الان</small>
        </div>
        <div class="card-body pt-2 pb-5">
          <div class="row gy-4">
            <div class="col-md-2 col-6">
              <div class="d-flex align-items-center">
                <div class="badge rounded-3 bg-label-warning me-3 p-2">
                  <i class="ti ti-report-search ti-sm"></i>
                </div>
                <div class="card-info">
                  <h5 class="mb-0" id="research-count"></h5>
                  <small>الدراسات</small>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-6">
              <div class="d-flex align-items-center">
                <div class="badge rounded-3 bg-label-danger me-3 p-2">
                  <i class="ti ti-pdf ti-sm"></i>
                </div>
                <div class="card-info">
                  <h5 class="mb-0" id="pdf-count"></h5>
                  <small>ملفات</small>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-6">
              <div class="d-flex align-items-center">
                <div class="badge rounded-3 bg-label-primary me-3 p-2">
                  <i class="ti ti-link ti-sm"></i>
                </div>
                <div class="card-info">
                  <h5 class="mb-0" id="no_pdf-count"></h5>
                  <small>روابط</small>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-6">
              <div class="d-flex align-items-center">
                <div class="badge rounded-3 bg-label-success me-3 p-2">
                  <i class="ti ti-notes ti-sm"></i>
                </div>
                <div class="card-info">
                  <h5 class="mb-0" id="journal-count"></h5>
                  <small>المجلات</small>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-6">
              <div class="d-flex align-items-center">
                <div class="badge rounded-3 bg-label-info me-3 p-2">
                  <i class="ti ti-chart-pie-2 ti-sm"></i>
                </div>
                <div class="card-info">
                  <h5 class="mb-0" id="field-count"></h5>
                  <small>المجالات</small>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-6">
              <div class="d-flex align-items-center">
                <div class="badge rounded-3 bg-label-github me-3 p-2">
                  <i class="ti ti-download ti-sm"></i>
                </div>
                <div class="card-info">
                  <h5 class="mb-0" id="total-downloads"></h5>
                  <small>التحميلات</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Users List Table -->
  <div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-title mb-3">فلتر البحث</h5>
      <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
        <div class="col-md-4 jornal_select">
          <select id="filter-jornal-select"  class="jornalSelect2 form-select text-capitalize" data-allow-clear="true">
            <option value="0">اختر المجلة</option>
        </select>
        </div>
        <div class="col-md-4 field_select">
          <select id="filter-field-select" class="fieldSelect2 form-select text-capitalize" data-allow-clear="true">
            <option value="0">اختر المجال</option>
          </select>
        </div>
        <div class="col-md-4 user_status">
          <select id="filter-pdf-select" class="form-select text-capitalize">
            <option value="">اختر المصدر</option>
            <option value="1">ملف pdf</option>
            <option value="0">رابط خارجي</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-datatable table-responsive">
      <table class="datatables-research table">
        <thead class="border-top">
          <tr>
            <th></th>
            <th>العنوان</th>
            <th>المعهد</th>
            <th>النوع</th>
            <th>تاريخ النشر</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
    <!-- Offcanvas to add new user  اضاقة مستخدم جديد-->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasAddResearch"
      aria-labelledby="offcanvasAddResearchLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasAddResearchLabel" class="offcanvas-title">اضافة دراسة</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
        <form class="add-new-research pt-0" id="addNewResearchForm" onsubmit="return false">
          <div class="mb-3">
            <label class="form-label" for="add-research-title">العنوان</label>
            <input
              type="text"
              class="form-control"
              id="add-research-title"
              placeholder="John Doe"
              aria-label="John Doe"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="add-research-abstract">الملخص</label>
            <textarea class="form-control" id="add-research-abstract" name='description' rows="2" ></textarea>            
          </div>
          <div class="mb-3">
            <label class="form-label" for="add-research-authors">المؤلف</label>
            <input
              type="text"
              class="form-control"
              id="add-research-authors"
              placeholder="John Doe"
              name="AddUserFirstname"
              aria-label="John Doe" />
          </div>
          <div class="mb-3">
            <label for="add-research-date" class="form-label">تاريخ النشر</label>
              <input
                type="date"
                id="add-research-date"
                name="publicate-date"
                placeholder="MM/DD/YYYY"
                class="form-control" />
          </div>
          <div class="row  mb-3">
            <div class="col-9">
              <label for="add-research-select-journal" class="form-label">المجلة</label>
              <select id="add-research-select-journal" class="jornalSelect2 form-select form-select-md" data-allow-clear="true">
              </select>
            </div>
            <div class="col-2  mt-4">
              <button type="button" 
                      class="add-new btn btn-default waves-effect waves-light"
                      data-bs-toggle="modal" 
                      data-bs-target="#addJournalModal">
                <i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
              </button>
            </div>
          </div>
          <div class="row  mb-3">
            <div class="col-9">
              <label for="add-research-select-field" class="form-label">المجال</label>
              <select id="add-research-select-field" class="fieldSelect2 form-select form-select-md" data-allow-clear="true">
              </select>
            </div>
            <div class="col-2  mt-4">
              <button type="button" 
                      class="add-new btn btn-default waves-effect waves-light"
                      data-bs-toggle="modal" 
                      data-bs-target="#addFieldModal">
                <i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="add-research-institution">المعهد</label>
            <input
              type="text"
              class="form-control"
              id="add-research-institution"
              placeholder="John Doe"
              name="AddUserFirstname"
              aria-label="John Doe" />
          </div>
          <div class="mb-3">
            <label class="switch">
              <input type="checkbox" id="add-research-switch" class="switch-input" />
              <span class="switch-toggle-slider">
                <span class="switch-on"></span>
                <span class="switch-off"></span>
              </span>
              <span class="switch-label">الدراسة تحتوي على PDF</span>
            </label>
          </div>
          <div class="mb-3" id="url-input">
            <label class="form-label" for="add-research-url">رابط الدراسة</label>
            <input
              type="url"
              class="form-control"
              id="add-research-url"
              placeholder="https://www.ncbi.nlm.nih.gov/pmc/articles"/>
          </div>
          <div class="mb-3" id="file-input">
            <label class="form-label" for="add-research-file">ملف PDF</label>
            <input 
            class="form-control" 
            type="file" 
            id="add-research-file"/>
          </div>
          <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">اضافة</button>
          <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">الفاء</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Modals -->
  <!-- Add Journal Modal نافذة منبثقة لاضافة مجلة في حال لم تكن مضافة من قبل-->
  <div class="modal fade" id="addJournalModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-journal">
      <div class="modal-content p-3 p-md-5 ">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">اضافة مجلة جديدة</h3>
          </div>
          <form id="addJournalForm" enctype="multipart/form-data" class="" onsubmit="return false">
            <div class="col-12 mb-2">
              <label class="form-label" for="add-journal-title">اسم المجلة</label>
              <input
              type="text"
              name="name"
              class="form-control"
              id="add-journal-title"
              aria-label="journal title" />
            </div>
            <div class="col-12 mb-2">
              <label class="form-label" for="add-journal-abbre">الاختصار</label>
              <input
              type="text"
              class="form-control"
              id="add-journal-abbre"
              aria-label="journal abbre" />
            </div>
            <div class="col-12 mb-2">
              <label class="form-label" for="add-journal-url">رابط موقع المجلة</label>
              <input
              type="url"
              id="add-journal-url"
              class="form-control"
              aria-label="url"
              name="url-add" />
            </div>
            <div class="col-12 mb-2">
              <label class="form-label" for="add-journal-logo">شعار المجلة</label>
              <input class="form-control" type="file" id="add-journal-logo" />
            </div>
            <input type="hidden" id="journal-id" name="id">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">حفظ</button>
              <button
                type="reset"
                class="btn btn-label-secondary"
                data-bs-dismiss="modal"
                aria-label="Close">
                الغاء
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Add Journal Modal نافذة منبثقة لاضافة مجلة في حال لم تكن مضافة من قبل-->
  <!-- Add Field Modal نافذة منبثقة لاضافة مجال في حال لم يكن مضافة من قبل-->
  <div class="modal fade" id="addFieldModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-field">
      <div class="modal-content p-3 p-md-5 ">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3 class="mb-2">تعديل معلومات المجال</h3>
          </div>
          <form id="addFieldForm" enctype="multipart/form-data" class="" onsubmit="return false">
            <div class="col-12 mb-2">
              <label class="form-label" for="field-title-add">اسم المجال</label>
              <input
              type="text"
              name="name"
              class="form-control"
              id="field-title-add"
              aria-label="field title" />
            </div>
            <div class="col-12 mb-4">
              <label class="form-label" for="field-description-add">وصف المجال</label>
              <textarea class="form-control" id="field-description-add" name='description' rows="3" style="height: 95px;"></textarea>            
            </div>
            <input type="hidden" id="field-id" name="id">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">حفظ التعديلات</button>
              <button
                type="reset"
                class="btn btn-label-secondary"
                data-bs-dismiss="modal"
                aria-label="Close">
                الغاء
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Add Field Modal نافذة منبثقة لاضافة مجال في حال لم يكن مضافة من قبل-->
</div>
<!-- / Content -->
{% endblock  %}
{% block specialJsFiles %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script>
  const token = localStorage.getItem('token');
</script>
<!-- Page JS -->
<script type="module" src="{% static 'js/app-research-list.js' %}"></script>
<script type="module" src="{% static 'js/forms-selects.js' %}"></script>
{% endblock  %}

