{% extends 'master.html' %}
{% load static %}
{% block title %}
      قائمة الدراسات
{% endblock  %}
{% block specialCssFiles %}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock  %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="py-3 mb-4">إدارة الدراسات / <span class="text-muted fw-light">قائمة الدراسات</span></h4>
  <!-- Users List Table -->
  <div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-title mb-3">فلتر البحث</h5>
      <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
        <div class="col-md-4 user_role">
          <select id="UserRole" class="form-select text-capitalize">
            <option value="">اختر الدور</option>
            <option value="user">مستخدم</option>
            <option value="patient">مريض</option>
            <option value="doctor">طبيب</option>
            <option value="admin">ادمن</option>
            <option value="support">فريق الدعم</option>
        </select>
        </div>
        <div class="col-md-4 user_plan">
          <select id="Userblue_verified" class="form-select text-capitalize">
            <option value="">التوثيق</option>
            <option value="نعم">موثق</option>
            <option value="لا">غبر موثق</option>
          </select>
        </div>
        <div class="col-md-4 user_status">
          <select id="UserStatus" class="form-select text-capitalize">
            <option value="">اختر الحالة</option>
            <option value="نشط">نشط</option>
            <option value="غير نشط">غير نشط</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-datatable table-responsive">
      <table class="datatables-users table">
        <thead class="border-top">
          <tr>
            <th></th>
            <th>المستخدم</th>
            <th>نوع المستخدم</th>
            <th>التوثيق</th>
            <th>الحالة</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
    <!-- Offcanvas to add new user  اضاقة مستخدم جديد-->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasAddUser"
      aria-labelledby="offcanvasAddUserLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasAddUserLabel" class="offcanvas-title">اضافة مستخدم</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
        <form class="add-new-user pt-0" id="addNewUserForm" onsubmit="return false">
          <div class="mb-3">
            <label class="form-label" for="add-user-firstname">الاسم الاول</label>
            <input
              type="text"
              class="form-control"
              id="add-user-firstname"
              placeholder="John Doe"
              name="AddUserFirstname"
              aria-label="John Doe" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="add-user-lastname">الاسم الثاني</label>
            <input
              type="text"
              class="form-control"
              id="add-user-lastname"
              placeholder="John Doe"
              name="AddUserLastname"
              aria-label="John Doe" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="add-user-email">البريد الالكتروني</label>
            <input
              type="text"
              id="add-user-email"
              class="form-control"
              placeholder="john.doe@example.com"
              aria-label="john.doe@example.com"
              name="AddUserEmail" />
          </div>
          <div class="mb-3">
            <div class="form-password-toggle">
              <label class="form-label" for="formValidationPass">كلمة المرور</label>
              <div class="input-group input-group-merge">
                <input
                  class="form-control"
                  type="password"
                  id="formValidationPass"
                  name="addUserPass"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="multicol-password2" />
                <span class="input-group-text cursor-pointer" id="multicol-password2"
                  ><i class="ti ti-eye-off"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="modalEditUserRole">نوع المستخدم</label>
            <select
              id="add-user-role"
              name="addUserType"
              class="select2 form-select"
              aria-label="Default select example">
              <option value="admin">مدير</option>
              <option value="user">مستخدم عادي</option>
              <option value="patient">مريض</option>
              <option value="doctor">طبيب</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">اضافة</button>
          <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">الفاء</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
{% endblock  %}
{% block specialJsFiles %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script>
  const csrfToken = '{{ csrf_token }}';
  const token = localStorage.getItem('token');
</script>
<!-- Page JS -->
<script type="module" src="{% static 'js/app-user-list.js' %}"></script>
{% endblock  %}

