{% load static %}

<html
  lang="ar" dir="rtl"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  data-theme="theme-default"
  data-assets-path="{% static '/' %}"
  data-base-url="{{url}}"
  data-template="vertical-menu-template">
  <head>
    <meta charset="utf-8"/>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>
      {% block title %}
      
      {% endblock  %}
    </title>

    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon/logo1.ico' %}" />
    {% include "head.html" %}
    {% block specialCssFiles %}
    
    {% endblock  %}
  </head>
  <body>
    <!-- Layout wrapper -->
      <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->
          {% include "layout/sidebar.html" %}
          <!-- / Menu -->
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
            {% include "layout/navbar.html" %}
            <!-- / Navbar -->    
            <!-- Content wrapper -->
              <div class="content-wrapper">
                <!-- Content -->
                  {% block content %}
                  
                  {% endblock  %}
                <!-- / Content -->
                <!-- Footer -->
                {% include "layout/footer.html" %}
                <!-- / Footer -->
                <div class="content-backdrop fade"></div>
              </div>
            <!-- Content wrapper -->
          </div>
            <!-- / Layout page -->
        </div>
    
          <!-- Overlay -->
          <div class="layout-overlay layout-menu-toggle"></div>
    
          <!-- Drag Target Area To SlideIn Menu On Small Screens -->
          <div class="drag-target"></div>
      </div>
      <!-- / Layout wrapper -->
    
        <!-- script JS -->

    {% include "scripts.html" %}
    {% block specialJsFiles %}
    <script type="module" src="{% static 'js/auth.js' %}"></script>
    <script type="module" src="{% static 'js/api.js' %}"></script>
    {% endblock  %}
  </body>
</html>